<main class="admin__column admin__main">
    <section class="admin__location">
        <h1>{{title}}</h1>
        <span>Admin &rsaquo; {{title}}</span>
    </section>
    <section class="admin__users">
        <h2 class="subtitle">Lista komentarzy</h2>
        <section class="admin__actions">
            <ul class='inline-list'>
                <li class='action__item' title='Lista wszystkich komentarzy'>
                    <a href="#" class="link">Wszyscy ({{usersCount}})</a>
                </li>
                <li class='action__item' title='Lista komentarzy oczekujących na zaakceptowanie'>
                    <a href="#" class="link">Administratorzy (1)</a>
                </li>
                <li class='action__item' title='Lista zweryfikowanych komentarzy'>
                    <a href="#" class="link">Moderatorzy (1)</a>
                </li>
                <li class='action__item' title='Lista zweryfikowanych komentarzy'>
                    <a href="#" class="link">Redaktorzy (3)</a>
                </li>
            </ul>
        </section>
        <section>
            <table class='admin__table'>
                <thead>
                    <tr>
                        <th>Data rejestracji</th>
                        <th>Nazwa</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{dateConverter createdAt}}</td>
                        <td>{{username}}</td>
                        <td>{{email}}</td>
                        <td>{{rank}}</td>
                        <td>zmień prawa</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </section>
</main>
</body>

</html>




{{!-- <div class="container-fluid">
        <div class="user hidden">
            <section class="admin__location">
                <h1>{{title}}</h1>
                <span>Admin &rsaquo; {{title}}</span>
            </section>
            <div class="user_info">
                <img src="{{user.avatar}}" alt="{{user.username}}">
                <span><a href="/profil/xaoo">[{{user.username}}]</a></span>|
                <span><a href="/logout">wyloguj się</a></span>
            </div>
        </div>
        <div class="stats clearfix">
            <div class="column turq">
                <div class="user">
                    <p class='count'>{{usersCount}}</p>
                    <p>Users</p>
                </div>
            </div>
        </div>
        <div class="feed">
            <table>
                <thead>
                    <tr>
                        <th>Użytkownik</th>
                        <th>Email</th>
                        <th>Prawa</th>
                        <th>Data rejestracji</th>
                        <th>Ustawienia</th>
                    </tr>
                </thead>
                {{#each usersList}}
                <tr>
                    <td><a href="/profil/{{username}}">{{username}}</a></td>
                    <td>{{email}}</td>
                    <td>{{rank}}</td>
                    <td>{{createdAt}}</td>
                    <td>
                        <a href="/admin/users/give_role?ID={{_id}}&role=user"><span style='color:orange'
                                onclick='return confirm("Czy chcesz temu użytkownikowi nadać prawa użytkownika?")'>user</span></a>
                        <a href="/admin/users/give_role?ID={{_id}}&role=redaktor"><span style='color:purple'
                                onclick='return confirm("Czy chcesz temu użytkownikowi nadać prawa redaktora?")'>redaktor</span></a>
                        <a href="/admin/users/give_role?ID={{_id}}&role=moderator"><span style='color:green'
                                onclick='return confirm("Czy chcesz temu użytkownikowi nadać prawa moderatora?")'>mod</span></a>
                        {{#if isBanned}}
                        <a href="/admin/users/unban?ID={{_id}}"><span style='color:red'
                                onclick='return confirm("Czy chcesz odbanować tego użytkownika?")'><b>odbanuj</b></span></a>
                        {{else}}
                        <a href="/admin/users/ban?username={{username}}"><span style='color:red'
                                onclick='return confirm("Czy chcesz zbanować tego użytkownika?")'>banuj</span></a>
                        {{/if}}
                        <a href="/admin/users/delete?ID={{_id}}"><span style="color:#107dac"
                                onclick='return confirm("Czy chcesz usnąć tego użytkownika?")'>usuń</span></a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div> --}}