<main class='admin__column admin__main'>
    <section class="admin__location">
        <h1>{{title}}</h1>
        <span>admin &rsaquo; dashboard</span>
    </section>
    <section class="admin__comments">
        <h2 class="subtitle">Do weryfikacji</h2>
        <section class="admin__actions">
            <ul class='inline-list'>
                <li class='action__item'>
                    <a href="#" class="link">Wszystkie</a>
                </li>
                <li class='action__item'>
                    <a href="#" class="link">Oczekujące</a>
                </li>
                <li class='action__item'>
                    <a href="#" class="link">Zweryfikowane</a>
                </li>
                <li class='action__item'>
                    <a href="#" class="link">Odrzucone</a>
                </li>
            </ul>
        </section>
        <section>
            <table class='admin__table'>
                <thead>
                    <tr>
                        <th>Autor</th>
                        <th>Komentarz</th>
                        <th>Akcja</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each commentsList}}
                    <tr>
                        <td>
                            <div>{{username}}</div>
                            <div>77-45-106-36.sta.asta-net.com.pl</div>
                        </td>
                        <td>
                            <div>{{dateConverter date}}</div>
                            <div>{{body}}</div>
                        </td>
                        <td>
                            zatwierdź/odrzuc
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </section>
</main>
</body>

</html>






{{!-- <main class="admin__column admin__main">
    <div class="container-fluid">
        <div class="user hidden">
            <section class="admin__location">
                <h1>{{title}}</h1>
                <span class="admin__road">admin &rsaquo; dashboard</span>
            </section>
            <div class="user_info">
                <img src="{{user.avatar}}" alt="{{user.username}}">
                <span><a href="/profil/xaoo">[{{user.username}}]</a></span>|
                <span><a href="/logout">wyloguj się</a></span>
            </div>
        </div>
        <div class="stats clearfix">
            <div class="column tomato">
                <div class="comment">
                    <p class='count'>{{commentsCount}}</p>
                    <p>Comments</p>
                </div>
            </div>
        </div>
        <div class="feed">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Użytkownik</th>
                        <th>Data komentarza</th>
                        <th>Treść</th>
                        <th>Ustawienia</th>
                    </tr>
                </thead>
                {{#each commentsList}}
                <tr>
                    <td><a href="/news/{{category}}/{{title}}#{{_id}}">{{_id}}</a></td>
                    <td><a href="/profil/{{username}}">{{username}}</a></td>
                    <td>{{date}}</td>
                    <td>{{body}}</td>
                    <td>
                        <a class='ban' href="/admin/comments/ban?ID={{_id}}"><span style='color:red'>banuj</span></a>
                        <a class='delete' href="/admin/comments/delete?ID={{_id}}"><span style="color:#107dac"
                                onclick='return confirm("Czy chcesz usnąć ten komentarz?")'>usuń</span></a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</main> --}}