<main>
    <div class="container-fluid">
        <div class="user hidden">
            <div class="header">
                <h2>KOMENTARZE - www.esportsite.com</h2>
            </div>
            <div class="user_info">
                <img src="{{user.avatar}}" alt="{{user.username}}">
                <span><a href="/profil/xaoo">[{{user.username}}]</a></span>|
                <span><a href="/logout">wyloguj się</a></span>
            </div>
        </div>
        <div class="stats clearfix">
            <div class="column tomato">
                <div class="comment">
                    <p class='count'>{{commentsCount}}</p>
                    <p>Comments</p>
                </div>
            </div>
        </div>
        <div class="feed">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Data komentarza</th>
                        <th>Treść</th>
                        <th>Ustawienia</th>
                    </tr>
                </thead>
                {{#each commentsList}}
                <tr>
                    <td><a href="/news/{{category}}/{{title}}#{{_id}}">{{_id}}</a></td>
                    <td><a href="/profil/{{username}}">{{username}}</a></td>
                    <td>{{date}}</td>
                    <td>{{body}}</td>
                    <td>
                        <a class='ban' href="/admin/comments/ban/{{_id}}"><span style='color:red'>banuj</span></a> /
                        <a class='delete' href="/admin/comments/delete/{{_id}}"><span style="color:#107dac" onclick='return confirm("Czy chcesz usnąć ten komentarz?")'>usuń</span></a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</main>
</body>

</html>
