<main>
    <div class="container-fluid">
        <div class="user hidden">
            <div class="header">
                <h2>UŻYTKOWNICY - www.esportsite.com</h2>
            </div>
            <div class="user_info">
                <img src="{{user.avatar}}" alt="{{user.username}}">
                <span><a href="/profil/xaoo">[{{user.username}}]</a></span>|
                <span><a href="/logout">wyloguj się</a></span>
            </div>
        </div>
        <div class="stats clearfix">
            <div class="column turq">
                <div class="user">
                    <p class='count'>{{usersCount}}</p>
                    <p>Users</p>
                </div>
            </div>
        </div>
        <div class="feed">
            <table>
                <thead>
                    <tr>
                        <th>Użytkownik</th>
                        <th>Email</th>
                        <th>Prawa</th>
                        <th>Data rejestracji</th>
                        <th>Ustawienia</th>
                    </tr>
                </thead>
                {{#each usersList}}
                <tr>
                    <td>{{username}}</td>
                    <td>{{email}}</td>
                    <td>{{rank}}</td>
                    <td>{{createdAt}}</td>
                    <td>
                        <a class='ban' href="/admin/users/ban/{{_id}}"><span style='color:red'>banuj</span></a> /
                        <a class='delete' href="/admin/users/delete/{{_id}}"><span style="color:#107dac" onclick='return confirm("Czy chcesz usnąć tego użytkownika?")'>usuń</span></a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</main>
</body>

</html>
