<main>
    <div class="container-fluid">
        <div class="user hidden">
            <div class="header">
                <h2>DASHBOARD - www.esportsite.com</h2>
            </div>
            <div class="user_info">
                <img src="{{user.avatar}}" alt="{{user.username}}">
                <span><a href="/profil/xaoo">[{{user.username}}]</a></span>|
                <span><a href="/logout">wyloguj się</a></span>
            </div>
        </div>
        <div class="stats clearfix">
            <div class="column orange">
                <div class="post">
                    <p class='count'>{{postsCount}}</p>
                    <p>Posts</p>
                </div>
            </div>
            <div class="column turq">
                <div class="user">
                    <p class='count'>{{usersCount}}</p>
                    <p>Users</p>
                </div>
            </div>
            <div class="column tomato">
                <div class="comment">
                    <p class='count'>{{commentsCount}}</p>
                    <p>Comments</p>
                </div>
            </div>
        </div>
        <div class="feed">
            <section>
                <h4 style='border-bottom: 2px solid orange'>Lastest posts feed</h4>
                {{#each lastposts}}
                <div class="feed_wrapper">
                    <img src="{{img}}" alt="{{title}}">
                    <div class="info">
                        <p><a href="/news/{{category}}/{{title}}">{{title}}</a></p>
                        <p>{{date}} przez <a href="/profil/{{author}}">{{author}}</a>.</p>
                    </div>
                </div>
                {{/each}}
            </section>
            <section>
                <h4 style='border-bottom: 2px solid turquoise'>Lastest users feed</h4>
                {{#each lastusers}}
                <div class="feed_wrapper">
                    <img src="{{avatar}}" alt="{{username}}">
                    <div class="info">
                        <p>Profil użytkownika: <a href="/profil/{{username}}">{{username}}</a></p>
                        <p>Data rejestracji: {{createdAt}}</p>
                    </div>
                </div>
                {{/each}}
            </section>
            <section>
                <h4 style='border-bottom: 2px solid tomato'>Lastest comments feed</h4>
                {{#each lastcomments}}
                <div class="feed_wrapper">
                    <div class="info">
                        <p>Autor: <a href="/profil/{{username}}">{{username}}</a></p>
                        <p>{{body}}</p>
                    </div>
                </div>
                {{/each}}
            </section>
        </div>
    </div>
</main>
</body>

</html>
