<main class='admin__column admin__main'>
    <section class="admin__location">
        <h1>{{title}}</h1>
        <span>Admin &rsaquo; {{title}}</span>
    </section>
    <section class="admin__comments">
        <h2 class="subtitle">Lista komentarzy</h2>
        <section class="admin__actions">
            <ul class='inline-list'>
                <li class='action__item' title='Lista wszystkich komentarzy'>
                    <a href="#" class="link">Wszystkie ({{commentsCount}})</a>
                </li>
                <li class='action__item' title='Lista komentarzy oczekujących na zaakceptowanie'>
                    <a href="#" class="link">Oczekujące ({{unverfiedCount}})</a>
                </li>
                <li class='action__item' title='Lista zweryfikowanych komentarzy'>
                    <a href="#" class="link">Zweryfikowane ({{verifiedCount}})</a>
                </li>
            </ul>
        </section>
        <section>
            <table class='admin__table'>
                <thead>
                    <tr>
                        <th>Autor</th>
                        <th>Komentarz</th>
                        <th>Akcja</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each commentsList}}
                    <tr>
                        <td class='comments-field'>
                            <div>{{username}}</div>
                            <div>192.168.1.1@example.pl</div>
                            <div>mozilla firefox 3.121</div>
                        </td>
                        <td class='comments-field'>
                            <time class='admin__comments-added' datetime="{{date}}">Dodano <span
                                    class='highlight'>{{dateConverter date}}</span></time>
                            <div class='admin__comments-body'>{{body}}</div>
                            <div class="admin__comments-footer">
                                {{#if verified}}
                                <a href="#" class="link">
                                    <span class='success'>Zatwierdzony</span>
                                </a>
                                {{else}}
                                <span>Niezatwierdzony</span>
                                {{/if}}
                                <a href="#" class="link">
                                    <span class='warning'>Zablokuj</span>
                                </a>
                                <a href="#" class="link">
                                    <span class='failure'>Usuń</span>
                                </a>
                            </div>
                        </td>
                        <td class='comments-field'>
                            {{#if verified}}
                            <span class='success'>Zweryfikowano</span>
                            {{else}}
                            <span>zatwiedź/odrzuć</span>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </section>
</main>
</body>

</html>






{{!-- <main class="admin__column admin__main">
    <div class="container-fluid">
        <div class="user hidden">
            <section class="admin__location">
                <h1>{{title}}</h1>
                <span class="admin__road">admin &rsaquo; dashboard</span>
            </section>
            <div class="user_info">
                <img src="{{user.avatar}}" alt="{{user.username}}">
                <span><a href="/profil/xaoo">[{{user.username}}]</a></span>|
                <span><a href="/logout">wyloguj się</a></span>
            </div>
        </div>
        <div class="stats clearfix">
            <div class="column tomato">
                <div class="comment">
                    <p class='count'>{{commentsCount}}</p>
                    <p>Comments</p>
                </div>
            </div>
        </div>
        <div class="feed">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Użytkownik</th>
                        <th>Data komentarza</th>
                        <th>Treść</th>
                        <th>Ustawienia</th>
                    </tr>
                </thead>
                {{#each commentsList}}
                <tr>
                    <td><a href="/news/{{category}}/{{title}}#{{_id}}">{{_id}}</a></td>
                    <td><a href="/profil/{{username}}">{{username}}</a></td>
                    <td>{{date}}</td>
                    <td>{{body}}</td>
                    <td>
                        <a class='ban' href="/admin/comments/ban?ID={{_id}}"><span style='color:red'>banuj</span></a>
                        <a class='delete' href="/admin/comments/delete?ID={{_id}}"><span style="color:#107dac"
                                onclick='return confirm("Czy chcesz usnąć ten komentarz?")'>usuń</span></a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</main> --}}