<main class="admin__column admin__main">
    <section class="admin__location">
        <h1>{{title}}</h1>
        <span>Admin &rsaquo; {{title}}</span>
    </section>
    <section class="admin__articles">
        <h2 class="subtitle">Lista artykułów</h2>
        <section class="admin__actions">
            <ul class='inline-list'>
                <li class='action__item' title='Lista wszystkich artykułów'>
                    <a href="#" class="link">Wszystkie ({{articlesCount}})</a>
                </li>
                <li class='action__item' title='Lista artykułów z kategorii LoL'>
                    <a href="#" class="link">League of Legends ({{articlesLoLCount}})</a>
                </li>
                <li class='action__item' title='Lista artykułów z kategorii CS:GO'>
                    <a href="#" class="link">CS:GO ({{articlesCSGOCount}})</a>
                </li>
                <li class='action__item' title='Lista artykułów z kategorii CS:GO'>
                    <a href="#" class="link">Inne (0)</a>
                </li>
            </ul>
        </section>
        <section>
            <table class='admin__table'>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Stan</th>
                        <th>Tytuł</th>
                        <th>Wyróżniony</th>
                        <th>Kategoria</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each articles}}
                    <tr>
                        <td>{{dateConverter date}}</td>
                        <td>publiczny</td>
                        <td>{{title}}</td>
                        <td>
                            {{#if isMain}}
                            <span class='highlight'>tak</span>
                            {{else}}
                            nie
                            {{/if}}
                        </td>
                        <td>{{category}}</td>
                        <td>edytuj/usuń</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </section>
</main>
</body>

</html>




{{!-- <div class="container-fluid">
        <div class="user hidden">
            <section class="admin__location">
                <h1>{{title}}</h1>
                <span>admin &rsaquo; dashboard</span>
            </section>
            <div class="user_info">
                <img src="{{user.avatar}}" alt="{{user.username}}">
                <span><a href="/profil/xaoo">[{{user.username}}]</a></span>|
                <span><a href="/logout">wyloguj się</a></span>
            </div>
        </div>
        <div class="stats clearfix">
            <div class="column orange">
                <div class="post">
                    <p class='count'>{{postsCount}}</p>
                    <p>Posts</p>
                </div>
            </div>
        </div>
        <div class="feed">
            <table>
                <thead>
                    <tr>
                        <th>Kategoria</th>
                        <th>Tytuł</th>
                        <th>Autor</th>
                        <th>Data dodania</th>
                        <th>Ustawienia</th>
                    </tr>
                </thead>
                {{#each posts}}
                <tr>
                    <td><a href="/news/{{category}}">{{category}}</a></td>
                    <td><a href="/news/{{category}}/{{title}}">{{title}}</a></td>
                    <td><a href="/profil/{{author}}">{{author}}</a></td>
                    <td>{{date}}</td>
                    <td>
                        <a class='ban' href="/admin/articles/edit-article?ID={{_id}}"><span
                                style='color:red'>edytuj</span></a>
                        <a class='delete' href="/admin/articles/delete?ID={{_id}}"><span style="color:#107dac"
                                onclick='return confirm("Czy chcesz usnąć ten artykuł?")'>usuń</span></a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div> --}}