<main>
    <div id="slider">
        <article>
            <a href="/news/csgo/Virtus.Pro_wygrywa_PGL_Major_w_Krakowie">
                <div class="img_wrapper">
                    <figure>
                        <img src='{{main_news.img}}' alt='' />
                    </figure>
                    <div class="container">
                        <section class="more_news_wrapper">
                            <a href="#inny_artykul1">
                                <article>
                                    <time>03/08/2017, 20:22</time>
                                    <h2>{{main_news.title}}</h2>
                                    <button type="button">WIĘCEJ</button>
                                </article>
                            </a>
                            <a href="#inny_artykul2">
                                <article>
                                    <time>03/08/2017, 20:22</time>
                                    <h2>{{main_news.title}}</h2>
                                    <button type="button">WIĘCEJ</button>
                                </article>
                            </a>
                            <a href="#inny_artykul3">
                                <article>
                                    <time>03/08/2017, 20:22</time>
                                    <h2>{{main_news.title}}</h2>
                                    <button type="button">WIĘCEJ</button>
                                </article>
                            </a>
                        </section>
                        <!--                        PRZYŁADOWY ROUTE-->
                        <a href="/news/csgo/Virtus.Pro wygrywa PGL Major w Krakowie!">
                            <header>
                                <h1>{{main_news.title}}</h1>
                            </header>
                        </a>
                    </div>
                </div>
            </a>
        </article>
    </div>
    <section class='others_news'>
        <div class="container">
            <div class="others_news_wrapper">
                <section class="column">
                    <h3>LOL LASTEST NEWS</h3>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <section>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </section>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <section>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </section>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <section>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </section>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <section>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </section>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <section>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </section>
                        </article>
                    </a>
                </section>
                <section class="column">
                    <h3>CS:GO LASTEST NEWS</h3>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <section>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </section>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <section>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </section>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <section>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </section>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <section>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </section>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <section>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </section>
                        </article>
                    </a>
                </section>
            </div>
            <button type="button">CZYTAJ WIĘCEJ</button>
            <div style='clear: both'></div>
        </div>
    </section>
    <section class='social_media'>
        <div class="container clearfix">
            <h3>MEDIA SPOŁECZNOŚCIOWE</h3>
            <div class="social_wrapper">
                <span>LIVESTREAMS</span>
                <div class="item">a</div>
                <div class="item">b</div>
                <div class="item">c</div>
            </div>
            <div class="social_wrapper">
                <span>INSTAGRAM</span>
                <div class="item">a</div>
                <div class="item">b</div>
                <div class="item">c</div>
            </div>
            <div class="social_wrapper">
                <span>TWITTER</span>
                <div class="item">a</div>
                <div class="item">b</div>
                <div class="item">c</div>
            </div>
        </div>
    </section>
    <section class="gallery clearfix">
        <div class="container">
            <h3>GALERIA</h3>
            <div class="gallery-wrapper">
                <div class="item">
                    <a href="#"> <img src="/assets/img/news/vp_winning.jpg" alt=""></a>
                </div>
                <div class="item">
                    <a href="#"> <img src="/assets/img/news/taz.jpg" alt=""></a>
                </div>
                <div class="item">
                    <a href="#"> <img src="/assets/img/news/lol_championships.jpg" alt=""></a>
                </div>
                <div class="item">
                    <a href="#"> <img src="/assets/img/news/vp_winning.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </section>
</main>
