<main>
    <section class="articles">
        <div class="column--main">
            <article class="main">
                <figure class="main__image-wrapper">
                    <img src={{mainArticle.img}} alt='{{mainArticle.title}}' title='{{mainArticle.title}}'
                        class="main__image" />
                </figure>
                <header class="articles__header articles__header--main">
                    <h2 class="header--primary">{{mainArticle.title}}</h2>
                    <footer class="articles__footer">
                        <time>{{mainArticle.date}}</time>
                        <span>{{mainArticle.author}}</span>
                    </footer>
                </header>
            </article>
        </div>
        <aside class="column--aside">
            {{#each moreArticles}}
            <article class='aside'>
                <figure class='aside__image-wrapper'>
                    <img src='{{img}}' alt='{{title}}' title='{{title}}' class='aside__image'>
                </figure>
                <a href="/news/{{category}}/{{title}}" class='aside__link'>
                    <header class='articles__header articles__header--aside'>
                        <h3 class='header--secondary'>{{title}}</h3>
                    </header>
                </a>
            </article>
            {{/each}}
        </aside>
    </section>
    <section class="latest">
        <h2 class="section-header latest--margin">Najnowsze</h2>
        <section class="articles">
            <div class="column--left">
                <article class="latest__article">artykuł</article>
                <article class="latest__article">artykuł</article>
                <article class="latest__article">artykuł</article>
                <article class="latest__article">artykuł</article>
                <article class="latest__article">artykuł</article>
                <article class="latest__article">artykuł</article>
            </div>
            <div class="column--right">
                {{#each moreArticles}}
                <article class="latest__article latest--mini">{{title}}</article>
                {{/each}}
            </div>
        </section>
    </section>
</main>