<main>
    <div id="slider" class='clearfix'>
        <article>
            <!--            <a href="/news/csgo/Virtus.Pro wygrywa PGL Major w Krakowie!">-->
            <div class="img_wrapper">
                <figure>
                    <img src='{{mainNews.img}}' alt='' />
                </figure>
                <div class="container">
                    <header class='news_header'>
                        <time>{{mainNews.date}}</time>
                        <h1>
                            <a href="/news/{{mainNews.category}}/{{mainNews.title}}">{{mainNews.title}}</a>
                        </h1>
                    </header>
                    <section class='hidden'>
                        <h2 style='display:none'>WIĘCEJ NEWSÓW</h2>
                        <div class="more_news_wrapper f-l">
                           {{#each moreArticles}}
                            <article>
                                <a href="/news/{{this.category}}/{{this.title}}"></a>
                                <div class="item">
                                    <time datetime="07/08/2017T13:00:24+01:00">{{this.date}}</time>
                                    <h2>{{this.title}}</h2>
                                    <div class="wrap_button clearfix">
                                        <button type="button" class='f-r'>WIĘCEJ</button>
                                    </div>
                                </div>
                            </article>
                            {{/each}}
                        </div>
                    </section>
                </div>
            </div>
            <!--            </a>-->
        </article>
    </div>
    <section class='others_news'>
<!--       ONLY FOR OUTLINE PURPOSE-->
        <h2 style='display:none'>OSTATNIE NEWSY</h2>
<!--        END OF H2-->
        <div class="container">
            <div class="others_news_wrapper">
                <section class="column f-l">
                    <h3 class='margin20'>LOL LASTEST NEWS</h3>
                    {{#each latestLolArticles}}
                    <article>
                        <a href="/news/{{this.category}}/{{this.title}}"></a>
                        <div class="item">
                            <figure>
                                <img src="{{this.img}}" alt="">
                            </figure>
                            <div class='info f-r'>
                                <h4>{{this.title}}</h4>
                                <p>{{this.bdy}}</p>
                                <time datetime="07/08/2017T13:00:24+01:00">{{this.date}}</time>
                            </div>
                        </div>
                    </article>
                    {{/each}}
                </section>
                <section class="column f-l">
                    <h3 class='margin20'>CS:GO LASTEST NEWS</h3>
                    {{#each latestCsgoArticles}}
                    <article>
                        <a href="/news/{{this.category}}/{{this.title}}"></a>
                        <div class="item">
                            <figure>
                                <img src="{{this.img}}" alt="">
                            </figure>
                            <div class='info f-r'>
                                <h4>{{this.title}}</h4>
                                <p>{{this.ody}}</p>
                                <time datetime="07/08/2017T13:00:24+01:00">{{this.date}}</time>
                            </div>
                        </div>
                    </article>
                    {{/each}}
                </section>
            </div>
            <button type="button">CZYTAJ WIĘCEJ</button>
            <div style='clear: both'></div>
        </div>
    </section>
    <section class='social_media'>
        <div class="container hidden clearfix">
            <h3 class='margin20'>MEDIA SPOŁECZNOŚCIOWE</h3>
            <div class="flex_container">
                <div class="social_wrapper f-l">
                    <span>LIVESTREAMS</span>
                    <div class="item">a</div>
                    <div class="item">b</div>
                    <div class="item">c</div>
                </div>
                <div class="social_wrapper f-l">
                    <span>INSTAGRAM</span>
                    <div class="item">a</div>
                    <div class="item">b</div>
                    <div class="item">c</div>
                </div>
                <div class="social_wrapper f-l">
                    <span>TWITTER</span>
                    <div class="item">a</div>
                    <div class="item">b</div>
                    <div class="item">c</div>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery clearfix">
        <div class="container hidden">
            <h3 class='margin20'>GALERIA</h3>
            <div class="gallery-wrapper">
                <div class="item f-l">
                    <a href="#"> <img src="/assets/img/news/vp_winning.jpg" alt=""></a>
                </div>
                <div class="item f-l">
                    <a href="#"> <img src="/assets/img/news/taz.jpg" alt=""></a>
                </div>
                <div class="item f-l">
                    <a href="#"> <img src="/assets/img/news/lol_championships.jpg" alt=""></a>
                </div>
                <div class="item f-l">
                    <a href="#"> <img src="/assets/img/news/vp_winning.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </section>
</main>
