<main>
    <a href="#">
        <article>
            <div class="img_wrapper">
                <img src='{{main_news.img}}' />
                <div class="container">
                    <section class="details">
                        <h1 class='header_bg'>{{main_news.title}}</h1>
                        <button type="button">CZYTAJ WIĘCEJ</button>
                    </section>
                </div>
            </div>
        </article>
    </a>
    <section class='_mid_news'>
        <div class="container">
            <a href="#">
                <article>
                    <img src="{{mid_news.first.img}}" alt="lol_championships">
                    <section class='details'>
                        <h2 class='header_bg'>{{mid_news.first.title}}</h2>
                    </section>
                </article>
            </a>
            <a href="#">
                <article>
                    <img src="{{mid_news.second.img}}" alt="lol_championships">
                    <section class='details'>
                        <h2 class='header_bg'>{{mid_news.second.title}}</h2>
                    </section>
                </article>
            </a>
        </div>
    </section>
    <section class='_small_news'>
        <div class="container">
            <a href='#'>
                <article>
                    <img src="{{small_news.first.img}}" alt="">
                    <section class="describe">
                        <h3>{{small_news.first.title}}</h3>
                        <p>{{small_news.first.desc}}</p>
                    </section>
                </article>
            </a>
            <a href='#'>
                <article>
                    <img src="{{small_news.first.img}}" alt="">
                    <section class="describe">
                        <h3>{{small_news.first.title}}</h3>
                        <p>{{small_news.first.desc}}</p>
                    </section>
                </article>
            </a>
            <a href='#'>
                <article>
                    <img src="{{small_news.first.img}}" alt="">
                    <section class="describe">
                        <h3>{{small_news.first.title}}</h3>
                        <p>{{small_news.first.desc}}</p>
                    </section>
                </article>
            </a>
        </div>
    </section>
    <section class='others_news'>
        a
    </section>
</main>