<main>
    <div id="slider" class='clearfix'>
        <article>
            <!--            <a href="/news/csgo/Virtus.Pro wygrywa PGL Major w Krakowie!">-->
            <div class="img_wrapper">
                <figure>
                    <img src='{{main_news.img}}' alt='' />
                </figure>
                <div class="container">
                    <header class='news_header'>
                        <time>10/08/2017, godz. 11:17</time>
                        <h1>
                            <a href="/news/csgo/Virtus.Pro wygrywa PGL Major w Krakowie!">{{main_news.title}}</a>
                        </h1>
                    </header>
                    <section>
                        <h1>WIĘCEJ NEWSÓW</h1>
                        <div class="more_news_wrapper">
                            <article>
                                <time>03/08/2017, 20:22</time>
                                <h2><a href="#inny_artykul1">{{mid_news.first.title}}</a></h2>
                                <button type="button"><a href="#inny_artykul1">WIĘCEJ</a></button>
                            </article>
                            <article>
                                <time>03/08/2017, 20:22</time>
                                <h2><a href="#inny_artykul2">{{mid_news.second.title}}</a></h2>
                                <button type="button"><a href="#inny_artykul2">WIĘCEJ</a></button>
                            </article>
                            <article>
                                <time>03/08/2017, 20:22</time>
                                <h2><a href="#inny_artykul3">{{mid_news.third.title}}</a></h2>
                                <button type="button"><a href="#inny_artykul3">WIĘCEJ</a></button>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
            <!--            </a>-->
        </article>
    </div>
    <section class='others_news'>
       <h1>OSTATNIE NEWSY</h1>
        <div class="container">
            <div class="others_news_wrapper">
                <section class="column">
                    <h3>LOL LASTEST NEWS</h3>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <div class='info'>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <div class='info'>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <div class='info'>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <div class='info'>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <div class='info'>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </div>
                        </article>
                    </a>
                </section>
                <section class="column">
                    <h3>CS:GO LASTEST NEWS</h3>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <div class='info'>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <div class='info'>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <div class='info'>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <div class='info'>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article>
                            <figure>
                                <img src="{{lastest_news.img}}" alt="">
                            </figure>
                            <div class='info'>
                                <h4>{{lastest_news.title}}</h4>
                                <p>{{lastest_news.desc}}</p>
                                <time>{{lastest_news.date}}</time>
                            </div>
                        </article>
                    </a>
                </section>
            </div>
            <button type="button">CZYTAJ WIĘCEJ</button>
            <div style='clear: both'></div>
        </div>
    </section>
    <section class='social_media'>
        <div class="container hidden clearfix">
            <h3>MEDIA SPOŁECZNOŚCIOWE</h3>
            <div class="flex_container">
                <div class="social_wrapper">
                    <span>LIVESTREAMS</span>
                    <div class="item">a</div>
                    <div class="item">b</div>
                    <div class="item">c</div>
                </div>
                <div class="social_wrapper">
                    <span>INSTAGRAM</span>
                    <div class="item">a</div>
                    <div class="item">b</div>
                    <div class="item">c</div>
                </div>
                <div class="social_wrapper">
                    <span>TWITTER</span>
                    <div class="item">a</div>
                    <div class="item">b</div>
                    <div class="item">c</div>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery clearfix">
        <div class="container hidden">
            <h3>GALERIA</h3>
            <div class="gallery-wrapper">
                <div class="item">
                    <a href="#"> <img src="/assets/img/news/vp_winning.jpg" alt=""></a>
                </div>
                <div class="item">
                    <a href="#"> <img src="/assets/img/news/taz.jpg" alt=""></a>
                </div>
                <div class="item">
                    <a href="#"> <img src="/assets/img/news/lol_championships.jpg" alt=""></a>
                </div>
                <div class="item">
                    <a href="#"> <img src="/assets/img/news/vp_winning.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </section>
</main>
