<main>
    <div class='news_wrapper'>
        <div class="container clearfix">
            <div class='where_am_i'>
                <ol>
                    <li><a href="/">Start</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/news/{{mainNews.category}}">{{mainNews.category}}</a></li>
                    <li><a href="/news/{{mainNews.category}}/{{mainNews.title}}">{{mainNews.title}}</a></li>
                </ol>
            </div>
            <div class="flex_container hidden">
                <div class="related_news">
                    <section>
                        <h2>Najnowsze artykuły</h3>
                            <!--                  20 NA STRONĘ-->
                            <div class="related_wrapper scroll">
                                {{#each lastestNews}}
                                <article>
                                    <h3>{{this.title}}</h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>{{this.date}}</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{this.category}}">{{this.category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/{{this.title}}">{{this.title}}</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                {{/each}}
                            </div>
                    </section>
                    <div class='authors_news'>
                        <section>
                            <h2>Więcej od {{mainNews.author}}</h2>
                            <div class="author_wrapper hidden">
                                {{#each authorArticle}}
                                <article>
                                    <a href="/news/{{this.category}}/{{this.title}}"></a>
                                    <header>
                                        <img src="{{this.img}}" alt="">
                                        <h5>{{this.title}}</h5>
                                    </header>
                                </article>
                                {{/each}}
                            </div>
                        </section>
                    </div>
                </div>
                <article class="main_news">
                    <header>
                        <figure>
                            <img src="{{mainNews.img}}" alt="{{mainNews.img}}">
                        </figure>
                        <h1>{{mainNews.title}}</h1>
                    </header>
                    <div class='content f-l'>
                        <!--                       POBRAC AUTORA Z TABELII-->
                        <div class="date">
                            <time datetime="07/08/2017T13:00:24+01:00">{{mainNews.date}}</time> przez {{mainNews.author}}
                        </div>
                        {{{mainNews.body}}}
                        <section class='post_comments'>
                            <section class="newComment margin20 clearfix">
                               {{#if user}} 
                                <h2>Dodaj komentarz</h2>
                                <form action="/news/{{mainNews.category}}/{{mainNews.title}}/?addComment" method="post">
                                   <label for="tresc">Treść komentarza:</label>
                                    <textarea name="tresc" id="tresc" cols="30" rows="10" minlength='10' required></textarea>
                                    <button type="submit" class='blue_btn' style='color:#ffffff'>DODAJ KOMENTARZ</button>
                                </form>
                                {{else}}                               
                                <p class='error_text'>Proszę się <a href="/login">zalogować</a>, aby móc dodać komentarz.</p>
                                {{/if}}
                            </section>
                            <h2>Komentarze</h2>
                            {{#each comments}}
                            <article>
                                <header class='posted_at'>
                                   <h4>
                                        Napisany <time datetime="07/08/2017T13:00:24+01:00">{{this.date}}</time> przez <b><a href="/profil/{{username}}">{{username}}</a></b>
                                    </h4>
                                </header>
                                <p>{{this.body}}</p>
                            </article>
                            {{/each}}
                        </section>
                    </div>
                </article>
                <aside class="about">
                    <div class="about_wrapper">
                        <h2>O autorze</h2>
                        <figure>
                            <img src="{{author.avatar}}" alt="{{author.nickname}}">
                        </figure>
                        <div class="user">
                            <p>Użytwkownik: {{author.nickname}}</p>
                            <p>Ranga: {{author.rank}}</p>
                        </div>
                        <p>{{author.info}}</p>
                    </div>
                </aside>
            </div>
            <section class="hot_news hidden clearfix">
                <h3 class='margin20'>GORĄCE NEWSY</h3>
                <a class='f-l' href="/news/csgo/Lorem ipsum dolor sit">
                    <article class="hot_item">
                        <p class='count'>214</p>
                        <img src="/assets/img/news/vp_winning.jpg" alt="">
                        <header>
                            <h4>Lorem ipsum dolor sit.</h4>
                        </header>
                    </article>
                </a>
                <a class='f-l' href="/news/csgo/Lorem ipsum dolor.">
                    <article class="hot_item">
                        <p class='count'>176</p>
                        <img src="/assets/img/news/lol_championships.jpg" alt="">
                        <header>
                            <h4>Lorem ipsum dolor.</h4>
                        </header>
                    </article>
                </a>
                <a class='f-l' href="/news/csgo/Lorem ipsum dolor sit amet, consectetur.">
                    <article class="hot_item">
                        <p class='count'>141</p>
                        <img src="/assets/img/news/taz.jpg" alt="">
                        <header>
                            <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
                        </header>
                    </article>
                </a>
            </section>
        </div>
    </div>
</main>
