<main>
    <div class='news_wrapper'>
        <div class="container clearfix">
            <section class='where_am_i'>
                <ol>
                    <li><a href="/">Start</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/news/{{category}}">{{category}}</a></li>
                    <li><a href="/news/{{category}}/{{title}}">{{title}}</a></li>
                </ol>
            </section>
            <div class="flex_container clearfix">
                <section class="related_news">
                    <h2>NAJNOWSZE</h3>
                        <!--                  20 NA STRONĘ-->
                        <div class="related_wrapper scroll">
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/csgo/VP odpada z turnieju">VP odpada z turnieju</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <article>
                                <table>
                                    <tr>
                                        <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                        <td class='category'>
                                            <h4>Kategoria:
                                                <a href="/news/{{category}}">{{category}}</a></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='title'>
                                            <!--                                           PRÓBA #1-->
                                            <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                        </div>
                </section>
                <article class="main_news">
                    <header>
                        <figure>
                            <img src="../../../assets/img/news/vp_winning.jpg" alt="">
                        </figure>
                        <h1>{{title}}</h1>
                    </header>
                    <main class='content'>
                        <!--                       POBRAC AUTORA Z TABELII-->
                        <section class="date"><time datetime="07/08/2017T13:00:24+01:00">7 sierpnia 2017, godz. 12:05 </time>przez XaooBBX</section>
                        {{{text}}}
                        <section class='post_comments'>
                            <h1>Komentarze</h1>
                            <article>
                                <header class='posted_at'>
                                    Napisany <time datetime="07/08/2017T13:00:24+01:00">7 sierpnia 2017 o 12:05</time> przez
                                    <!--                                TUTAJ BĘDZIE ZNAJOWAĆ SIĘ ODNOŚNIK DO PROFILU -->
                                    <strong>XaooBBX</strong>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque explicabo quod earum. Veritatis, ab.</p>
                            </article>
                            <article>
                                <header class='posted_at'>
                                    Napisany <time datetime="07/08/2017T13:00:24+01:00">7 sierpnia 2017 o 12:01</time> przez
                                    <!--                                TUTAJ BĘDZIE ZNAJOWAĆ SIĘ ODNOŚNIK DO PROFILU -->
                                    <strong>XaooBBX</strong>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dicta odio nisi fugit, soluta eius ducimus facere expedita esse dolores!</p>
                            </article>
                            <article>
                                <header class='posted_at'>
                                    Napisany <time datetime="07/08/2017T13:00:24+01:00">7 sierpnia 2017 o 11:52</time> przez
                                    <!--                                TUTAJ BĘDZIE ZNAJOWAĆ SIĘ ODNOŚNIK DO PROFILU -->
                                    <strong>XaooBBX</strong>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque explicabo quod earum. Veritatis, ab.</p>
                            </article>
                            <article>
                                <header class='posted_at'>
                                    Napisany <time datetime="07/08/2017T13:00:24+01:00">7 sierpnia 2017 o 11:48</time> przez
                                    <!--                                TUTAJ BĘDZIE ZNAJOWAĆ SIĘ ODNOŚNIK DO PROFILU -->
                                    <strong>XaooBBX</strong>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis doloremque rem eum architecto dolore perspiciatis, a. Porro magni quas non illum alias, fuga, dolor impedit sapiente accusantium nemo dolore rem ab veritatis, asperiores, fugiat voluptatum ex eos accusamus laboriosam doloribus.</p>
                            </article>
                        </section>
                    </main>
                </article>
                <aside class="about">
                    <div class="about_wrapper">
                        <h2>O autorze</h2>
                        <figure>
                            <img src="/assets/img/avatars/faker.png" alt="avatar">
                        </figure>
                        <div class="user">
                            <!--                       DANE UŻYTKOWNIKA BĘDĄ POBIERANE Z BAZY-->
                            <p>Użytwkownik: XaooBBX</p>
                            <p>Ranga: Administrator</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium temporibus, quam quaerat fugiat, commodi provident.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ab? Officia incidunt in repellendus a fuga, minima alias numquam voluptatem suscipit dolores commodi omnis sequi nisi earum similique. Eveniet ex debitis voluptatum amet rem, eius!</p>
                    </div>
                </aside>
            </div>
            <section class="hot_news clearfix">
                <header>
                    <h3>GORĄCE NEWSY</h3>
                </header>
                <a href="/news/csgo/Lorem ipsum dolor sit">
                    <article class="hot_item">
                        <p class='count'>214</p>
                        <img src="/assets/img/news/vp_winning.jpg" alt="">
                        <header>
                            <h4>Lorem ipsum dolor sit.</h4>
                        </header>
                    </article>
                </a>
                <a href="/news/csgo/Lorem ipsum dolor.">
                    <article class="hot_item">
                        <p class='count'>176</p>
                        <img src="/assets/img/news/lol_championships.jpg" alt="">
                        <header>
                            <h4>Lorem ipsum dolor.</h4>
                        </header>
                    </article>
                </a>
                <a href="/news/csgo/Lorem ipsum dolor sit amet, consectetur.">
                    <article class="hot_item">
                        <p class='count'>141</p>
                        <img src="/assets/img/news/taz.jpg" alt="">
                        <header>
                            <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
                        </header>
                    </article>
                </a>
            </section>

        </div>
    </div>
</main>
