<main>
    <div class='news_wrapper'>
        <div class="container clearfix">
            <div class='where_am_i'>
                <ol>
                    <li><a href="/">Start</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/news/{{mainNews_category}}">{{mainNews_category}}</a></li>
                    <li><a href="/news/{{mainNews_category}}/{{mainNews_title}}">{{mainNews_title}}</a></li>
                </ol>
            </div>
            <div class="flex_container hidden">
                <div class="related_news">
                    <section>
                        <h2>Najnowsze artykuły</h3>
                            <!--                  20 NA STRONĘ-->
                            <div class="related_wrapper scroll">
                                <article>
                                    <h3>Virtus.Pro wygrywa PGL Major w Krakowie!</h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/Virtus.Pro wygrywa PGL Major w Krakowie!">Virtus.Pro wygrywa PGL Major w Krakowie!</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                                <article>
                                    <h3>
                                        SKT T1 najlepszą drużyną w LOLa
                                    </h3>
                                    <table>
                                        <tr>
                                            <td rowspan="2" style='width:60px;'><span class='time'>08/08/2017 23:24</span></td>
                                            <td class='category'>
                                                <span>Kategoria:
                                                    <a href="/news/{{category}}">{{category}}</a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='title'>
                                                <a href="/news/lol/SKT T1 najlepszą drużyną w LOLa">SKT T1 najlepszą drużyną w LOLa</a>
                                            </td>
                                        </tr>
                                    </table>
                                </article>
                            </div>
                    </section>
                    <div class='authors_news'>
                        <section>
                            <h2>Więcej od {{mainNews_author}}</h2>
                            <div class="author_wrapper hidden">
                                <article>
                                    <a href="#"></a>
                                    <header>
                                        <img src="/assets/img/news/lol_championships.jpg" alt="">
                                        <h5>Lorem ipsum dolor sit amet.</h5>
                                    </header>
                                </article>
                                <article>
                                    <a href="#"></a>
                                    <header>
                                        <img src="/assets/img/news/lol_championships.jpg" alt="">
                                        <h5>Lorem ipsum dolor sit amet.</h5>
                                    </header>
                                </article>
                                <article>
                                    <a href="#"></a>
                                    <header>
                                        <img src="/assets/img/news/lol_championships.jpg" alt="">
                                        <h5>Lorem ipsum dolor sit amet.</h5>
                                    </header>
                                </article>
                            </div>
                        </section>
                    </div>
                </div>
                <article class="main_news">
                    <header>
                        <figure>
                            <img src="{{mainNews_img}}" alt="{{mainNews_title}}">
                        </figure>
                        <h1>{{mainNews_title}}</h1>
                    </header>
                    <div class='content f-l'>
                        <!--                       POBRAC AUTORA Z TABELII-->
                        <div class="date"><time datetime="07/08/2017T13:00:24+01:00">{{mainNews_date}}</time> przez {{mainNews_author}}</div>
                        {{{mainNews_body}}}
                        <section class='post_comments'>
                            <h2>Komentarze</h2>
                            <article>
                                <header class='posted_at'>
                                    <h4>
                                        Napisany <time datetime="07/08/2017T13:00:24+01:00">7 sierpnia 2017 o 12:05</time> przez
                                        <!--                                TUTAJ BĘDZIE ZNAJOWAĆ SIĘ ODNOŚNIK DO PROFILU -->
                                        <strong>XaooBBX</strong>
                                    </h4>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque explicabo quod earum. Veritatis, ab.</p>
                            </article>
                            <article>
                                <header class='posted_at'>
                                    <h4>
                                        Napisany <time datetime="07/08/2017T13:00:24+01:00">7 sierpnia 2017 o 12:05</time> przez
                                        <!--                                TUTAJ BĘDZIE ZNAJOWAĆ SIĘ ODNOŚNIK DO PROFILU -->
                                        <strong>XaooBBX</strong>
                                    </h4>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque explicabo quod earum. Veritatis, ab.</p>
                            </article>
                            <article>
                                <header class='posted_at'>
                                    <h4>
                                        Napisany <time datetime="07/08/2017T13:00:24+01:00">7 sierpnia 2017 o 12:05</time> przez
                                        <!--                                TUTAJ BĘDZIE ZNAJOWAĆ SIĘ ODNOŚNIK DO PROFILU -->
                                        <strong>XaooBBX</strong>
                                    </h4>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque explicabo quod earum. Veritatis, ab.</p>
                            </article>
                            <article>
                                <header class='posted_at'>
                                    <h4>
                                        Napisany <time datetime="07/08/2017T13:00:24+01:00">7 sierpnia 2017 o 12:05</time> przez
                                        <!--                                TUTAJ BĘDZIE ZNAJOWAĆ SIĘ ODNOŚNIK DO PROFILU -->
                                        <strong>XaooBBX</strong>
                                    </h4>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque explicabo quod earum. Veritatis, ab.</p>
                            </article>
                            <article>
                                <header class='posted_at'>
                                    <h4>
                                        Napisany <time datetime="07/08/2017T13:00:24+01:00">7 sierpnia 2017 o 12:05</time> przez
                                        <!--                                TUTAJ BĘDZIE ZNAJOWAĆ SIĘ ODNOŚNIK DO PROFILU -->
                                        <strong>XaooBBX</strong>
                                    </h4>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque explicabo quod earum. Veritatis, ab.</p>
                            </article>
                        </section>
                    </div>
                </article>
                <aside class="about">
                    <div class="about_wrapper">
                        <h2>O autorze</h2>
                        <figure>
                            <img src="/assets/img/avatars/faker.png" alt="avatar">
                        </figure>
                        <div class="user">
                            <!--                       DANE UŻYTKOWNIKA BĘDĄ POBIERANE Z BAZY-->
                            <p>Użytwkownik: {{mainNews_author}}</p>
                            <p>Ranga: Administrator</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium temporibus, quam quaerat fugiat, commodi provident.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ab? Officia incidunt in repellendus a fuga, minima alias numquam voluptatem suscipit dolores commodi omnis sequi nisi earum similique. Eveniet ex debitis voluptatum amet rem, eius!</p>
                    </div>
                </aside>
            </div>
            <section class="hot_news hidden clearfix">
                <h3 class='margin20'>GORĄCE NEWSY</h3>
                <a class='f-l' href="/news/csgo/Lorem ipsum dolor sit">
                    <article class="hot_item">
                        <p class='count'>214</p>
                        <img src="/assets/img/news/vp_winning.jpg" alt="">
                        <header>
                            <h4>Lorem ipsum dolor sit.</h4>
                        </header>
                    </article>
                </a>
                <a class='f-l' href="/news/csgo/Lorem ipsum dolor.">
                    <article class="hot_item">
                        <p class='count'>176</p>
                        <img src="/assets/img/news/lol_championships.jpg" alt="">
                        <header>
                            <h4>Lorem ipsum dolor.</h4>
                        </header>
                    </article>
                </a>
                <a class='f-l' href="/news/csgo/Lorem ipsum dolor sit amet, consectetur.">
                    <article class="hot_item">
                        <p class='count'>141</p>
                        <img src="/assets/img/news/taz.jpg" alt="">
                        <header>
                            <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
                        </header>
                    </article>
                </a>
            </section>
        </div>
    </div>
</main>