<main>
    <div class="container">
        <div class="_wrapper clearfix">
            <section class="occ">
                <h1>Profil użytkownika</h1>
                <div class="user_wrapper clearfix">
                    <img src="{{user.avatar}}" alt="{{user.username}}">
                    <p><b>Nazwa użytkownika:</b> {{user.username}}</p>
                    <p><b>Ranga:</b> {{user.rank}}</p>
                    <p><b>Kontakt:</b> {{user.email}}</p>
                </div>
                <p><b>O mnie:</b></p>
                <p>{{user.aboutme}}</p>
            </section>
            <section class="occa">
                <h2>cos innego</h2>
            </section>
            <div class="last_comments">
                <h2>Ostatnie komentarze użytkownika</h2>
                {{#if comment}}
                {{#each comment}}
                <article>
                    <header class='posted_at'>
                        <h4>
                            Napisany <time datetime="07/08/2017T13:00:24+01:00">{{this.date}}</time> w artykule "{{this.title}}"
                        </h4>
                    </header>
                    <p>{{this.body}}</p>
                </article>
                {{/each}}
                {{else}}
                <p class='margin20' style='color:#222'>Dotychczas nie napisałeś żadnego komentarza.</p>
                {{/if}}
            </div>
        </div>
    </div>
</main>
