<main>
    <div class="search">
        <section>
            <h1 class="section-header">Wyszukiwarka</h1>
            <form action="/search" class="form search__form" method="GET">
                <div class="form__inner">
                    <input type="search" class="input" name='q' placeholder="Szukaj..">
                    <button class="button button--primary search__button">🔍</button>
                </div>
            </form>
        </section>
        <section class="search__results">
            <h1 class="section-header">Wyniki</h1>
            <div class="search__results">
                {{#if message}}
                <p>{{message}}</p>
                {{else}}
                {{#each result}}
                <article class='search__article'>
                    <a href="/news/{{category}}/{{spacesToDashes title}}" class="link" title='{{title}}'>{{title}}</a>
                    <div>
                        {{chunkOfString body}}...
                    </div>
                </article>
                {{/each}}
                {{/if}}
            </div>
        </section>
    </div>
</main>