<main>
    <section class="single">
        <div class="column column--left single__wrapper">
            <ul class="location">
                <li class='location__item'>
                    <a href="/" class='location__link'>Home</a>
                </li>
                <li class='location__item'>
                    <a href="/news" class='location__link'>News</a>
                </li>
                <li class='location__item'>
                    <a href="/news/{{mainNews.category}}" class='location__link'>{{mainNews.category}}</a>
                </li>
                <li class='location__item'> {{mainNews.title}}</li>
            </ul>
            <article>
                <header class='single__header'>
                    <h1 class='header header--single'>{{mainNews.title}}</h1>
                    <span class="single__author">{{mainNews.author}}, {{mainNews.date}}</span>
                    {{!-- <div class="single__categories">
                        {{#each mainNews.tags}}
                        <a href='/?search={{short_name}}' class="category">{{name}}</a>
                        {{/each}}
                    </div> --}}
                </header>
                <figure class='single__image-wrapper'>
                    <img src="{{mainNews.img}}" alt="{{mainNews.title}}" class="single__image">
                </figure>
                <p class="single__body">{{mainNews.body}}</p>
                <div class="comments">
                    <section class="comments__add">
                        <h1 class="section-header">Napisz komentarz</h1>
                        <form action="/news/{{mainNews.category}}/{{mainNews.title}}" class="form comments__wrapper"
                            method="POST">
                            <div>
                                <label for="username" class="label">imię</label>
                                <input type="text" name="username" class="input" required>
                            </div>
                            <div>
                                <label for="body" class="label">Wiadomość</label>
                                <textarea name="body" class='textarea textarea--box' required></textarea>
                            </div>
                            <div class='form__footer'>
                                <p><span class='required'>*</span> - pole jest wymagane</p>
                            </div>
                            <div class="g-recaptcha" data-sitekey="6Le9ai0UAAAAAKhR2RO2hbeOS7ksRb15RIxaFeEo"></div>
                            {{#if error}}
                            <p>{{error}}</p>
                            {{/if}}
                            <button class="button button--primary" type="submit">Dodaj komentarz</button>
                        </form>
                    </section>
                    <section class='comments__wrapper'>
                        <h1 class="section-header">Komentarze</h1>
                        <div class="comments">
                            {{#if comments}}
                            {{#each comments}}
                            <article class="comments__item" id="{{_id}}">
                                <header class="comments__header">
                                    <h2 class="comments__author">{{username}}, </h2>
                                    <time datetime="{{date}}" class="comments__date">{{dateConverter date}}</time>
                                </header>
                                {{#if verified}}
                                <p class="comments__body">{{body}}</p>
                                {{else}}
                                <p class="comments__body">Komentarz zostanie dodany po weryfikacji przez administratora.
                                </p>
                                {{/if}}
                            </article>
                            {{/each}}
                            {{else}}
                            <p class="comments__information">Brak komentarzy.</p>
                            {{/if}}
                        </div>
                    </section>
                </div>
            </article>
        </div>
        <div class="column column--right single__wrapper">
            <section>
                <h1 class="section-header">Najwowsze artykuły</h1>
                <div class="single__aside-wrapper">
                    {{#each lastestNews}}
                    <a href="/news/{{category}}/{{spacesToDashes title}}" class='single__link'>
                        <article class='single__aside'>{{title}}</article>
                    </a>
                    {{/each}}
                </div>
            </section>
            <section class="search search--single">
                <form action="/search" class="form" method="GET">
                    <div class="form__inner">
                        <input type="search" name='q' class="input" placeholder="Szukaj..">
                        <button type='submit' class="button button--primary search__button">🔍</button>
                    </div>
                </form>
            </section>
        </div>
    </section>
</main>