<main>
    <section class="single">
        <div class="column column--left single__wrapper">
            <ul class="location">
                <li class='location__item'>
                    <a href="/" class='location__link'>Home</a>
                </li>
                <li class='location__item'>
                    <a href="/news" class='location__link'>News</a>
                </li>
                <li class='location__item'>
                    <a href="/news/{{mainNews.category}}" class='location__link'>{{mainNews.category}}</a>
                </li>
                <li class='location__item'> {{mainNews.title}}</li>
            </ul>
            <article>
                <header class='single__header'>
                    <h1 class='header header--single'>{{mainNews.title}}</h1>
                    <span class="single__author">{{mainNews.author}}, {{mainNews.date}}</span>
                </header>
                <figure class='single__image-wrapper'>
                    <img src="{{mainNews.img}}" alt="{{mainNews.title}}" class="single__image">
                </figure>
                <p class="single__body">{{mainNews.body}}</p>
                <section class="comments">
                    <h1 class="section-header">Komentarze</h1>
                    <div class="comments__wrapper">
                        {{#if comments}}
                        {{#each comments}}
                        <article class="comments__item" id="{{_id}}">
                            <header class="comments__header">
                                <h2 class="comments__author">{{username}}, </h2>
                                <time datetime="{{date}}" class="comments__date">{{date}}</time>
                            </header>
                            <p class="comments__body">{{body}}</p>
                            <footer class='comments__footer'>
                                <a class='link' href="/login">Zaloguj się, aby móc napisać komentarz</a>
                            </footer>
                        </article>
                        {{/each}}
                        {{else}}
                        <p class="comments__information">Brak komentarzy. <a href='/login' class='link'>Zaloguj się</a>
                            i
                            bądź
                            pierwszy!</a></p>
                        {{/if}}
                    </div>
                </section>
            </article>
        </div>
        <div class="column column--right single__wrapper">
            <section>
                <h1 class="section-header">Najwowsze artykuły</h1>
                <div class="single__aside-wrapper">
                    {{#each lastestNews}}
                    <a href="/news/{{category}}/{{title}}" class='single__link'>
                        <article class='single__aside'>{{title}}</article>
                    </a>
                    {{/each}}
                </div>
            </section>
            <section class="search">
                <form action="GET" class="form">
                    <div class="form__inner">
                        <input type="search" class="input" placeholder="Szukaj..">
                        <button type='submit' class="button button--primary search__button">🔍</button>
                    </div>
                </form>
            </section>
        </div>
    </section>
</main>